{% for i in range(roomsNames|length) %}
<div
  class="modal fade"
  id="bookingModal{{ i }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bookingModalLabel{{ i }}"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel{{ i }}">
          <span id="roomName{{ i }}"></span>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Форма для заполнения данных бронирования -->
        <form action="/book_room" method="POST">
          <input type="hidden" name="roomName" value="{{roomsNames[i]}}" />
          <div class="form-group m-3">
            <label for="title{{ i }}">Название</label>
            <input
              type="text"
              class="form-control"
              id="title{{ i }}"
              name="title"
              required
            />
          </div>
          <div class="form-group m-3">
            <label for="startDate{{ i }}">Дата и время начала</label>
            <input
              type="datetime-local"
              class="form-control"
              id="startDate{{ i }}"
              name="startDate"
              required
              min="{{ current_datetime.strftime('%Y-%m-%dT%H:%M') }}"
              step="60"
            />
          </div>
          <div class="form-group m-3">
            <label for="endDate{{ i }}">Дата и время окончания</label>
            <input
              type="datetime-local"
              class="form-control"
              id="endDate{{ i }}"
              name="endDate"
              required
              min="{{ current_datetime.strftime('%Y-%m-%dT%H:%M') }}"
              step="60"
            />
          </div>
          <div class="form-group m-3">
            <label for="comment{{ i }}">Комментарий</label>
            <textarea
              type="text"
              class="form-control"
              id="comment{{ i }}"
              name="comment"
            ></textarea>
          </div>
          <div class="form-group m-3">
            <label for="bookingDates{{ i }}">Выберите даты</label>
            <input
              type="text"
              class="form-control"
              id="bookingDates{{ i }}"
              name="bookingDates"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary m-3">
            Забронировать
          </button>
        </form>
        <br />
      </div>
    </div>
  </div>
</div>
{% endfor %}
