{% if message %}

<head>
  <style type="text/css">
    body {
      line-height: 108%;
      font-family: Calibri;
      font-size: 11pt;
    }
    p {
      margin: 0pt 0pt 8pt;
    }
    li,
    table {
      margin-top: 0pt;
      margin-bottom: 8pt;
    }
    .BalloonText {
      margin-bottom: 0pt;
      line-height: normal;
      font-family: "Segoe UI";
      font-size: 9pt;
    }
    .ListParagraph {
      margin-left: 36pt;
      margin-bottom: 8pt;
      line-height: 108%;
      font-size: 11pt;
    }
    .NoSpacing {
      margin-bottom: 0pt;
      line-height: normal;
      font-size: 11pt;
    }
    span.a {
      font-family: "Segoe UI";
      font-size: 9pt;
    }
  </style>
</head>
<body>
  <div>
    <table
      cellspacing="0"
      cellpadding="0"
      class="TableGrid"
      style="width: 474.9pt; margin-bottom: 0pt; border-collapse: collapse"
    >
      <br />
      <br />
      <br />
      <tr style="height: 42.55pt">
        <td
          style="
            width: 244.4pt;
            padding-right: 5.4pt;
            padding-left: 5.4pt;
            vertical-align: top;
          "
        >
          <p class="NoSpacing" style="font-size: 13pt">
            <span style="font-family: 'Times New Roman'; font-weight: bold"
              >Согласен_______________
            </span>
          </p>
          <p class="NoSpacing" style="font-size: 13pt">
            <br />
          </p>
          <p class="NoSpacing" style="font-size: 13pt">
            <span style="font-family: 'Times New Roman'; font-weight: bold"
              >«__»____________20__ года
            </span>
          </p>
        </td>
        <td
          style="
            width: 208.9pt;
            padding-right: 5.4pt;
            padding-left: 5.4pt;
            vertical-align: top;
          "
        >
          <p class="NoSpacing" style="text-align: right; font-size: 13pt">
            <span style="font-family: 'Times New Roman'; font-weight: bold"
              >ОтправленоТомуто
            </span>
          </p>
        </td>
      </tr>
    </table>
    <br /><br /><br />
    <table
      cellspacing="0"
      cellpadding="0"
      style="margin-bottom: 0pt; border-collapse: collapse"
    >
      <tr>
        <td
          style="
            width: 456.95pt;
            border-top: 0.75pt double #1f497d;
            border-bottom: 0.75pt double #1f497d;
            padding-right: 5.4pt;
            padding-left: 5.4pt;
            vertical-align: top;
          "
        >
          <br />
          <p
            style="
              margin-left: 49.65pt;
              margin-bottom: 0pt;
              text-indent: -49.65pt;
              text-align: center;
              font-size: 14pt;
            "
          >
            <span style="font-family: 'Times New Roman'; font-weight: bold"
              >СЛУЖЕБНАЯ ЗАПИСКА №</span
            >
          </p>
          <p
            style="
              margin-left: 49.65pt;
              margin-bottom: 0pt;
              text-indent: -49.65pt;
              text-align: center;
              font-size: 8pt;
            "
          >
            <span style="font-family: Georgia; -aw-import: ignore">&#xa0;</span>
          </p>
        </td>
      </tr>
    </table>
    <p style="margin-bottom: 10pt; line-height: 115%; font-size: 5pt">
      <span style="font-family: Georgia; font-weight: bold; -aw-import: ignore"
        >&#xa0;</span
      >
    </p>
    <table
      cellspacing="0"
      cellpadding="0"
      style="margin-bottom: 0pt; border-collapse: collapse"
    >
      <tr>
        <td
          style="
            width: 48.45pt;
            padding-right: 5.4pt;
            padding-left: 5.4pt;
            vertical-align: top;
          "
        >
          <p style="margin-bottom: 0pt; text-align: right; font-size: 14pt">
            <span style="font-family: 'Times New Roman'; font-weight: bold"
              >КОМУ:</span
            >
          </p>
        </td>
        <td
          style="
            width: 397.7pt;
            padding-right: 5.4pt;
            padding-left: 5.4pt;
            vertical-align: top;
          "
        >
          <p
            style="
              margin-left: 4.55pt;
              margin-bottom: 0pt;
              text-indent: -4.55pt;
              text-align: justify;
              font-size: 14pt;
            "
          >
            <span style="font-family: 'Times New Roman'">Отправили </span>
          </p>
          <p
            style="
              margin-left: 4.55pt;
              margin-bottom: 0pt;
              text-indent: -4.55pt;
              text-align: justify;
              font-size: 14pt;
            "
          >
            <span style="font-family: 'Times New Roman'; -aw-import: ignore"
              >&#xa0;</span
            >
          </p>
        </td>
      </tr>
      <tr>
        <td
          style="
            width: 48.45pt;
            padding-right: 5.4pt;
            padding-left: 5.4pt;
            vertical-align: top;
          "
        >
          <p style="margin-bottom: 0pt; text-align: right; font-size: 14pt">
            <span style="font-family: 'Times New Roman'; font-weight: bold"
              >ОТ:</span
            >
          </p>
        </td>
        <td
          style="
            width: 397.7pt;
            padding-right: 5.4pt;
            padding-left: 5.4pt;
            vertical-align: top;
          "
        >
          <p style="margin-bottom: 0pt; text-align: justify; font-size: 14pt">
            <span style="font-family: 'Times New Roman'">Отправляющий</span>
          </p>
          <p style="margin-bottom: 0pt; text-align: justify; font-size: 14pt">
            <span style="font-family: 'Times New Roman'; -aw-import: ignore"
              >&#xa0;</span
            >
          </p>
        </td>
      </tr>
      <tr>
        <td
          style="
            width: 48.45pt;
            padding-right: 5.4pt;
            padding-left: 5.4pt;
            vertical-align: top;
          "
        >
          <p style="margin-bottom: 0pt; text-align: right; font-size: 14pt">
            <span style="font-family: 'Times New Roman'; font-weight: bold"
              >ТЕМА:</span
            >
          </p>
        </td>
        <td
          style="
            width: 397.7pt;
            padding-right: 5.4pt;
            padding-left: 5.4pt;
            vertical-align: top;
          "
        >
          <p style="margin-bottom: 0pt; text-align: justify; font-size: 14pt">
            <span style="font-family: 'Times New Roman'">темаТекста</span>
          </p>
          <p style="margin-bottom: 0pt; text-align: justify; font-size: 14pt">
            <span style="font-family: 'Times New Roman'; -aw-import: ignore"
              >&#xa0;</span
            >
          </p>
        </td>
      </tr>
      <tr style="height: 9.6pt">
        <td
          style="
            width: 48.45pt;
            padding-right: 5.4pt;
            padding-left: 5.4pt;
            vertical-align: top;
          "
        >
          <p style="margin-bottom: 0pt; text-align: right; font-size: 14pt">
            <span style="font-family: 'Times New Roman'; font-weight: bold"
              >ДАТА:</span
            >
          </p>
        </td>
        <td
          style="
            width: 397.7pt;
            padding-right: 5.4pt;
            padding-left: 5.4pt;
            vertical-align: top;
          "
        >
          <p style="margin-bottom: 0pt; font-size: 13pt">
            <span style="font-family: 'Times New Roman'; font-weight: bold"
              >«</span
            ><span
              style="
                font-family: 'Times New Roman';
                font-weight: bold;
                text-decoration: underline;
                -aw-import: spaces;
              "
              >&#xa0; </span
            ><span
              style="
                font-family: 'Times New Roman';
                font-weight: bold;
                text-decoration: underline;
                -aw-import: spaces;
              "
              >&#xa0;&#xa0;&#xa0; </span
            ><span
              style="
                font-family: 'Times New Roman';
                font-weight: bold;
                -aw-import: spaces;
              "
              >&#xa0;</span
            ><span style="font-family: 'Times New Roman'; font-weight: bold"
              >»____________20__ года</span
            >
          </p>
        </td>
      </tr>
    </table>
    <p style="margin-bottom: 10pt; line-height: 115%; font-size: 5pt">
      <span style="font-family: 'Times New Roman'; -aw-import: ignore"
        >&#xa0;</span
      >
    </p>
    <table
      cellspacing="0"
      cellpadding="0"
      style="width: 469.8pt; margin-bottom: 0pt; border-collapse: collapse"
    >
      <tr style="height: 7.7pt">
        <td
          style="
            width: 459pt;
            border-top: 0.75pt double #1f497d;
            padding-right: 5.4pt;
            padding-left: 5.4pt;
            vertical-align: top;
          "
        >
          <p style="margin-bottom: 0pt; font-size: 8pt">
            <span
              style="
                font-family: 'Times New Roman';
                font-weight: bold;
                -aw-import: ignore;
              "
              >&#xa0;</span
            >
          </p>
        </td>
      </tr>
    </table>
    <p
      style="
        margin-bottom: 6pt;
        text-indent: 28.35pt;
        text-align: justify;
        line-height: normal;
        font-size: 14pt;
      "
    >
      <span style="font-family: 'Times New Roman'">
        <div id="messageContainer">{{message.messageText}}</div>
      </span>
    </p>
    <p style="margin-bottom: 0pt; line-height: normal; font-size: 13pt">
      <span
        style="
          font-family: 'Times New Roman';
          font-weight: bold;
          -aw-import: ignore;
        "
        >&#xa0;</span
      >
    </p>
    <p style="margin-bottom: 0pt; line-height: normal; font-size: 13pt">
      <span
        style="
          font-family: 'Times New Roman';
          font-weight: bold;
          -aw-import: ignore;
        "
        >&#xa0;</span
      >
    </p>
    <p style="margin-bottom: 0pt; line-height: normal; font-size: 13pt">
      <span
        style="
          font-family: 'Times New Roman';
          font-weight: bold;
          -aw-import: ignore;
        "
        >&#xa0;</span
      >
    </p>
    <p style="margin-bottom: 0pt; line-height: normal; font-size: 13pt">
      <span
        style="
          font-family: 'Times New Roman';
          font-weight: bold;
          -aw-import: ignore;
        "
        >&#xa0;</span
      >
    </p>
    <p style="margin-bottom: 0pt; line-height: normal; font-size: 13pt">
      <span
        style="
          font-family: 'Times New Roman';
          font-weight: bold;
          -aw-import: ignore;
        "
        >&#xa0;</span
      >
    </p>
    <table
      cellspacing="0"
      cellpadding="0"
      style="width: 455.1pt; margin-bottom: 0pt; border-collapse: collapse"
    >
      <tr style="height: 51.1pt">
        <td
          style="
            width: 452.1pt;
            padding-right: 1.5pt;
            padding-left: 1.5pt;
            vertical-align: top;
          "
        >
          <p class="NoSpacing" style="font-size: 14pt">
            <span style="font-family: 'Times New Roman'; font-weight: bold"
              >Позиция пользователя</span
            ><span
              style="
                width: 32.18pt;
                font-family: 'Times New Roman';
                font-weight: bold;
                display: inline-block;
              "
              >&#xa0;</span
            ><span
              style="
                width: 35.4pt;
                font-family: 'Times New Roman';
                font-weight: bold;
                display: inline-block;
              "
              >&#xa0;</span
            ><span
              style="
                width: 35.4pt;
                font-family: 'Times New Roman';
                font-weight: bold;
                display: inline-block;
              "
              >&#xa0;</span
            >
          </p>
          <p class="NoSpacing" style="text-align: right; font-size: 14pt">
            <span style="font-family: 'Times New Roman'; font-weight: bold"
              >Инициалы</span
            >
          </p>
          <p class="NoSpacing" style="font-size: 14pt">
            <span style="font-family: 'Times New Roman'; -aw-import: ignore"
              >&#xa0;</span
            >
          </p>
        </td>
      </tr>
    </table>
    <p><span style="-aw-import: ignore">&#xa0;</span></p>
  </div>
</body>

{% endif %}
