<div
  class="modal fade"
  id="bookingModal{{ id }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bookingModalLabel{{ id }}"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel{{ id }}">
          Редактирование брони {{roomId}}
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Форма для редактирования данных бронирования -->
        <form action="/edit_booking" method="POST">
          <input type="hidden" name="_method" value="PATCH" />
          <input
            type="hidden"
            type="text"
            class="form-control"
            id="roomId"
            name="roomId"
            required
          />
          <div class="form-group m-3">
            <label for="title{{ id }}">Название</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              required
            />
          </div>
          <div class="form-group m-3 d-flex align-items-center">
            <label
              for="timeStart"
              class="mr-2 mb-0"
              style="padding-right: 15px"
              >Начало:</label
            >
            <input
              class="form-control"
              id="timeStart"
              name="timeStart"
              style="width: 70px"
              required
            />

            <label
              for="timeEnd"
              class="ml-4 mr-2 mb-0 ps-4"
              style="padding-right: 15px"
              >Конец:</label
            >
            <input
              class="form-control px-2"
              id="timeEnd"
              name="timeEnd"
              style="width: 70px"
              required
            />
          </div>
          <div class="form-group m-3">
            <label for="comment">Комментарий</label>
            <textarea
              type="text"
              class="form-control"
              id="comment"
              name="comment"
            ></textarea>
          </div>
          <div class="form-group m-3">
            <label for="roomName">Выберите зал:</label>
            <select class="form-control" id="roomName" name="roomName">
              {% for roomName in roomsNames %}
              <option>{{ roomName }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary m-3">
            Сохранить изменения
          </button>
        </form>
        <br />
      </div>
    </div>
  </div>
</div>
