{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="time_container">
  <h2>
    Брони на <button class="time_button" id="prevDate"><</button>
    <span id="currentDate"></span>
    <button class="time_button" id="nextDate">></button>
  </h2>
  <div class="button-group"></div>
</div>
<div class="buttons_container">
  {% for i in range(roomsNames|length) %}
  <div class="button_item">
    {% if user.is_authenticated %}
    <button
      type="button"
      class="button"
      data-bs-toggle="modal"
      data-bs-target="#bookingModal{{ i }}"
      data-room-number="{{ i }}"
      data-room-name="{{ roomsNames[i] }}"
    >
      {{ roomsNames[i] }}
    </button>
    {% else %}
    <button
      type="button"
      class="button"   
    >
      {{ roomsNames[i] }}
    </button>
     {% endif %}

    <div class="bookingInfo1">
      <ul id="{{  roomsNames[i] }}"></ul>
    </div>
  </div>
  {% endfor %}
</div>

{% include "booking.html" %} {% endblock %}
