{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="row">
  <div class="col-lg-9">
    <div class="button-container-names">
      {% set button_names = [ "Конференц-зал", "Компьютерный зал", "Зал для
      презентаций", "Аудитория", "Мультимедийный зал", "Тренинг-зал" ] %} {% for
      i in range(button_names|length) %}
      <button
        type="button"
        class="button"
        data-toggle="modal"
        data-target="#bookingModal{{ i }}"
        data-room-number="{{ i }}"
      >
        {{ button_names[i] }}
      </button>
      {% endfor %}
    </div>

    <div class="my-rooms">
      <h4>Мои забронированные комнаты:</h4>
      {% if myRooms %}
      <table class="table">
        <thead>
          <tr>
            <th>Зал</th>
            <th>Начало</th>
            <th>Окончание</th>
            <th>Имя бронирующего</th>
            <th>Название мероприятия</th>

            <!-- Добавлен заголовок для столбца с кнопкой удаления -->
          </tr>
        </thead>
        <tbody>
          {% for room in myRooms %}
          <tr>
            <td>{{ button_names[room.roomNumber] }}</td>
            <td>{{ room.start_time }}</td>
            <td>{{ room.end_time }}</td>
            <td>{{ room.booked_by_name }}</td>
            <td>{{ room.event_name }}</td>
            <td>
              <form action="/cancel_book" method="DELETE" class="delete-form">
                <input type="hidden" name="room_id" value="{{ room.id }}" />
                <button type="submit" class="delete-button" style="background: none; border: none"> 
                  <img
                    width="25"
                    height="25"
                    src="../static/delete_icon.svg"
                    alt="Delete Icon"
                  />
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>У вас нет забронированных комнат.</p>
      {% endif %}
    </div>
    <div class="col-lg-3">
      <div class="sticky-panel">
        <h4>Служебки:</h4>
        <div class="message-feed">{% include "messages.html" %}</div>
      </div>
    </div>
  </div>
</div>
{% include "booking.html" %} {% endblock %}
