{% extends "base.html" %} {% block title %}User rooms{% endblock %} {% block
content %}
<div class="buttons_container">
  {% set button_names = [ "Конференц-зал", "Компьютерный зал", "Зал для
  презентаций", "Аудитория", "Мультимедийный зал", "Тренинг-зал" ] %} {% for i
  in range(button_names|length) %} {% endfor %}
</div>

<div class="container">
  <div class="my-rooms">
    <h4>Мои забронированные комнаты:</h4>
    {% if myRooms %}
    <table class="table">
      <thead>
        <tr>
          <th>Зал</th>
          <th>Начало</th>
          <th>Конец</th>
          <th>Название мероприятия</th>
          <th>Статус</th>
          <th>Детали</th>
          <!-- Добавлен заголовок для столбца с кнопкой удаления -->
        </tr>
      </thead>
      <tbody>
        {% for room in myRooms %}
        <tr>
          <td>{{ button_names[room.roomNumber] }}</td>
          <td>{{ room.startDate.strftime("%Y-%m-%d %H:%M") }}</td>
          <td>{{ room.endDate.strftime("%Y- %m-%d %H:%M") }}</td>
          <td>{{ room.conferenceTitle }}</td>
          <td>{{ room.status }}</td>
          <td>
            <div class="booking-details-container">
              <details class="user-booking-details">
                <summary>Детали</summary>
                <p>{{room.comment}}</p>
              </details>
            </div>
          </td>
          <td>
            <form action="/cancel_book" method="POST" class="delete-form">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="hidden" name="room_id" value="{{ room.id }}" />
              <button
                type="submit"
                class="delete-button"
                style="background: none; border: none"
              >
                <img
                  width="25"
                  height="25"
                  src="../static/delete_icon.svg"
                  alt="Delete Icon"
                />
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>У вас нет забронированных комнат.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
