{% extends "base.html" %} {% block title %}User rooms{% endblock %} {% block
content %}

<div class="container">
  <div class="my-rooms">
    <h4>Мои забронированные комнаты:</h4>
    {% if myRooms %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Зал</th>
          <th>Начало</th>
          <th>Конец</th>
          <th>Название мероприятия</th>
          <th>Статус</th>

          <!-- Добавлен заголовок для столбца с кнопкой удаления -->
        </tr>
      </thead>
      <tbody>
        {% for room in myRooms %}
        <tr class="mb-2">
          <td>{{ room.roomName }}</td>
          <td>{{ room.startDate.strftime("%Y-%m-%d %H:%M") }}</td>
          <td>{{ room.endDate.strftime("%Y- %m-%d %H:%M") }}</td>
          <td>{{ room.conferenceTitle }}</td>
          <td>{{ room.status }}</td>
          <td>
            {% if room.comment != "" %}
            <button
              type="button"
              class="btn btn-xs"
              data-bs-toggle="popover"
              data-bs-title="Информация:"
              data-bs-content="{{room.comment}}"
              data-bs-placement="left"
            >
              <img
                width="25"
                height="25"
                src="../static/info_icon.svg"
                alt="Info Icon"
              />
            </button>
            {% endif %}
          </td>
          <td>
            <form action="/cancel_book" method="POST" class="delete-form">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="hidden" name="room_id" value="{{ room.id }}" />
              <button type="submit" class="btn btn-xs">
                <img
                  width="25"
                  height="25"
                  src="../static/delete_icon.svg"
                  alt="Delete Icon"
                />
              </button>
            </form>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-xs"
              data-bs-toggle="modal"
              data-bs-target="#bookingModal{{ id }}"
              data-room-number="{{ room.id }}"
              onclick="fillModalForm('{{room.roomName}}','{{ room.id }}', 
                '{{ room.conferenceTitle }}', '{{ room.startDate }}',
                '{{ room.endDate }}', '{{ room.comment }}')"
            >
              <img
                width="25"
                height="25"
                src="../static/edit_icon.svg"
                alt="Edit Icon"
              />
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>У вас нет забронированных комнат.</p>
    {% endif %}
  </div>
</div>
{% include "edit_booking.html" %} {% endblock %}
