.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.button {
  width: 250px;
  height: 100px;
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  line-height: 60px;
  margin: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.button:hover {
  background-color: gray;
}

.top-buttons {
  order: 1;
}

.bottom-buttons {
  order: 2;
}
