
       p.MsoNormal, li.MsoNormal, div.MsoNormal
      	{margin-top:0in;
      	margin-right:0in;
      	margin-bottom:8.0pt;
      	margin-left:0in;
      	line-height:107%;
      	font-size:11.0pt;
      	font-family:"Calibri",sans-serif;}
      p.MsoNoSpacing, li.MsoNoSpacing, div.MsoNoSpacing
      	{margin:0in;
      	font-size:11.0pt;
      	font-family:"Calibri",sans-serif;}
      .MsoChpDefault
      	{font-family:"Calibri",sans-serif;}
      .MsoPapDefault
      	{margin-bottom:8.0pt;
      	line-height:107%;}
      @page WordSection1
      	{size:595.3pt 841.9pt;
      	margin:56.7pt 42.5pt 56.7pt 85.05pt;}
      div.WordSection1
      	{page:WordSection1;}
       /* List Definitions */
       ol
      	{margin-bottom:0in;}
      ul
      	{margin-bottom:0in;}
